#my_name {
  margin-left: 3vw;
  font-size: 2.6vw;
  width: 42vw;
}

button {
  width: 10vw;
  height: 5vh;
}

#first_art {
  height: 60vh;
}

#second_art {
  display: none;
}

#about_p {
  margin-top: 12vh;
  font-size: 15px;
}

#about_pp {
  margin-right: 4vw;
  margin-left: 4vw;
  font-size: 15px;
  line-height: 3vh;
  margin-top: 8vh;
}

#about_ppp {
  margin-top: 8vh;
  margin-right: 3vw;
  margin-left: 4vw;
  line-height: 3vh;
  font-size: 15px;
}

#contacts_p {
  line-height: 3vh;
  margin-right: 3vh;
  margin-left: 3vh;
}