#my_name {
  font-size: 4vh;
}

button {
  height: 7vh;
  width: 20vw;
}

#first_art_sec {
  height: 80vh;
}

#about_p {
  font-size: 2vw;
  margin-top: 15vh;
  margin-right: 4vw;
  margin-left: 4vw;
}

#about_pp {
  line-height: 4vh;
  font-size: 2vw;
  margin-right: 4vw;
  margin-left: 4vw;
}

#about_ppp {
  display: none;
}

#portfolio_p {
  font-size: 2vw;
  margin-right: 4vw;
  margin-left: 4vw;
}

.work {
  font-size: 2vw;
}

#contacts_p {
  font-size: 2vw;
  margin-left: 4vw;
  margin-right: 4vw;
}

#second_art {
  display: none;
}